#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    height:500px;
}
.box{
    border: 2px solid gray;
} 
#header{
    background-color: black;
    color:white;
    text-align: center;
} 
#footer{
    background-color: black;
    color:white;
    text-align: center;
}
.box:nth-child(1),
.box:nth-child(3){
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns:repeat(2, 1fr);
    gap: 2px;

}

.box:nth-child(4),
.box:nth-child(6){
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns:repeat(2, 1fr);
    gap: 2px;

}
.part{
    border:2px solid gray;
}